


<div class="row">
    <div class="box">
        <!--BOX HEADER-->
        <div class="box-header">
            <!--BOX TITLE-->
            <div class="box-title pull-left">
                <p><i class="fa fa-clock-o fa-lg"></i></p>
                <p>Period Configuration</p>
            </div>
            <!--end: TITLE-->
            <!--ICONS - FUNCTIONAL-->
            @*<div class="box-icon pull-right">               
                <a href="#" class="btn-help" title="Help" role="button"><i class="fa fa-question-circle fa-lg"></i></a>
                <a href="#" class="btn-minimize" title="Expand / Collapse" role="button"><i class="fa fa-chevron-up fa-lg"></i></a>
            </div>*@
            <!--end: ICONS-->
        </div>
        <!--end: BOX HEADER-->
        <!--BOX CONTENT-->
        <div class="box-content">
            <div class="col-md-12">
                <form id="form-period" class="form" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>From Description</label>
                                <div class='input-group date datepicker' id='datetimepicker10'>
                                    <input type='text' id="From" name="From" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>To Description</label>
                                <div class='input-group date datepicker' id='datetimepicker11'>
                                    <input type='text' id="To" name="To" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Grades Available</h4>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="checkboxes">
                                    @foreach (var item in ViewBag.Grade)
                                    {
                                        <div class="col-md-12">
                                            <div class="checkbox checkbox-warning">
                                                <input class="styled" id=@item.GradeId type="checkbox" />
                                                <label for=@item.GradeId>@item.GradeDescription</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.IsReadyToAdd)
                        {
                            <button onclick="savePeriod();" type="button" class="btn btn-default btn-block">Save Configuration</button><div class="clearfix"></div>
                        }
                        else
                        {
                            <button disabled type="button" class="btn btn-info btn-block">Save Configuration</button><div class="clearfix"></div>
                        }
                    </div>
                </div>
                <br />
            </div>
        </div>
        </div>
        <!--end: BOX CONTENT-->
    </div>
    <!--end: BOX--> 

    @*<div class="panel panel-default">
        <div class="panel-heading">Period Configuration
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <form id="form-period" class="form" role="form">
                   <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>From Description</label>
                                <div class='input-group date datepicker' id='datetimepicker10'>
                                    <input type='text' id="From" name="From" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>To Description</label>
                                <div class='input-group date datepicker' id='datetimepicker11'>
                                    <input type='text' id="To" name="To" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Grades Available</h4>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="checkboxes">
                                    @foreach (var item in ViewBag.Grade)
                                    {
                                        <div class="col-md-12">
                                        <div class="checkbox checkbox-warning">
                                            <input class="styled" id=@item.GradeId type="checkbox" />
                                            <label for=@item.GradeId>@item.GradeDescription</label>
                                        </div>
                                            </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.IsReadyToAdd)
                        {
                            <button onclick="savePeriod();" type="button" class="btn btn-default btn-sm btn-block">Save Configuration</button><div class="clearfix"></div>
                        }
                        else
                        {
                            <button disabled type="button" class="btn btn-default btn-sm btn-block">Save Configuration</button><div class="clearfix"></div>
                        }
                        </div>
                    </div>
            </div>
        </div>
    </div>*@    

