
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Period Configuration <button disabled type="button" class="btn btn-default btn-sm pull-right">Add New Period</button><div class="clearfix"></div></div>
        <div class="panel-body">
            <div class="col-md-12">
                <form id="form-period" class="form" role="form">
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>From Description</label>
                                <div class='input-group date datepicker' id='datetimepicker10'>
                                    <input type='text' id="From" name="From" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>To Description</label>
                                <div class='input-group date datepicker' id='datetimepicker11'>
                                    <input type='text' id="To" name="To" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Grades Available</h4>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="checkboxes">
                                    @foreach (var item in ViewBag.Grade)
                                    {
                                        <div class="checkbox checkbox-warning checkbox-inline">
                                            <input class="styled" id=@item.GradeId type="checkbox" />
                                            <label for=@item.GradeId>@item.GradeDescription</label>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
