
@{
    ViewBag.Title = "School - Periods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<div class="modal fade" id="add-period">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Period Configuration</h4>
            </div>
            <div class="modal-body">
                @*<form id="form-save-period">
                    <div id="addPeriodHtml">
                        @Html.Partial("~/Views/Period/_create.cshtml")
                    </div>
                </form>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button onclick="savePeriod();" type="button" class="btn btn-success">Save Period</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">                
                <h1><i class="fa fa-calendar"></i> Periods Configuration</h1>
                <div class="row">
                    <div class="col-md-4">
                        @*@if (ViewBag.IsReadyToAdd)
                        {
                            <button class="btn btn-primary" id="btnNewPeriod" onclick="showCreatePeriod();" data-toggle="modal" type="button"> <span class="glyphicon glyphicon-plus"></span> Period</button>
                        }*@                       
                            
                    </div>

                    <div class="col-md-5">
                        <div id="dvResult" style="display:none" role="alert">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <form id="form-save-period">
                <div id="addPeriodHtml">                    
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <div class="box">
                <!--BOX HEADER-->
                <div class="box-header">
                    <!--BOX TITLE-->
                    <div class="box-title pull-left">
                        <p><i class="fa fa-history fa-lg"></i></p>
                        <p>Period History</p>
                    </div>
                    <!--end: TITLE-->
                    <!--ICONS - FUNCTIONAL-->
                    @*<div class="box-icon pull-right">
                        <a href="#" class="btn-help" title="Help" role="button"><i class="fa fa-question-circle fa-lg"></i></a>
                        <a href="#" class="btn-minimize" title="Expand / Collapse" role="button"><i class="fa fa-chevron-up fa-lg"></i></a>
                    </div>*@
                    <!--end: ICONS-->
                </div>
                <!--end: BOX HEADER-->
                <!--BOX CONTENT-->
                <div class="box-content">
                    <div class="table-responsive">
                        <table id="tblPeriod" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th  width="500px"><strong>Periods Timeline</strong></th>
                                    <th  width="100px"><strong>Active</strong></th>
                                    <th><strong>Status</strong></th>
                                    <th width="100px" align="center"><strong>Grades</strong> </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div> <!--end: BOX CONTENT-->
           
        
            
        </div>
    </div>
</div>
@section scripts{
<script src="~/Scripts/chartJs/Chart.bundle.js"></script>
<script src="~/Scripts/views/period/periodSearch.js"></script>
<script src="~/Scripts/views/graphic/graphic.js"></script>    
<script src="~/Scripts/views/period/create.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        //showGradesByPeriod();
        //showStudentsByPeriod();
        //var data = {
        //    labels: ["Pre-Kinder", "Kinder", "Primero", "Segundo", "Tercero", "Cuarto", "Quinto","Sexto","Septimo","Octavo","Noveno"],
        //    datasets: [
        //        {
        //            label: "My First dataset",
        //            backgroundColor: "rgba(255,99,132,0.2)",
        //            borderColor: "rgba(255,99,132,1)",
        //            borderWidth: 1,
        //            hoverBackgroundColor: "rgba(255,99,132,0.4)",
        //            hoverBorderColor: "rgba(255,99,132,1)",
        //            data: [65, 59, 80, 81, 56, 55, 40,8,15,25,62],
        //        }
        //    ]
        //};

        //var ctx = document.getElementById("canvas").getContext("2d");
        
        //var myBarChart = new Chart(ctx, {
        //    type: 'bar',
        //    data: data
        //});


    });
</script>
}



