<style>
    .alert-block {
padding-top: 14px;
padding-bottom: 14px;
}

    .alert-block > p,
.alert-block > ul {
margin-bottom: 0;
}

.alert-block p + p {
margin-top: 5px;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}


</style>
<div class="row">
    <div class="box">
        <!--BOX HEADER-->
        <div class="box-header">
            <!--BOX TITLE-->
            <div class="box-title pull-left">
                <p><i class="fa fa-list fa-lg"></i></p>
                <p>Grades Available</p>
            </div>
        </div>
        <!--end: BOX HEADER-->
        <!--BOX CONTENT-->
        <div class="box-content">
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Grade != null && ViewBag.Grade.Count > 0)
                    {
                        <div id="checkboxes">
                            @foreach (var item in ViewBag.Grade)
                            {
                                <div class="checkbox checkbox-warning">
                                    <input class="styled" id=@item.GradeId type="checkbox" />
                                    <label for=@item.GradeId>@item.GradeDescription</label>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        @*<div class="notice notice-success">
                            <strong>Notice</strong> notice-success
                        </div>
                        <div class="notice notice-danger">
                            <strong>Notice</strong> notice-danger
                        </div>
                        <div class="notice notice-info">
                            <strong>Notice</strong> notice-info
                        </div>*@
                        <div class="notice notice-warning">
                            <strong>Alert</strong> Grades not available
                        </div>
                        @*<div class="notice notice-lg">
                            <strong>Big notice</strong> notice-lg
                        </div>
                        <div class="notice notice-sm">
                            <strong>Small notice</strong> notice-sm
                        </div>*@
                    }
                </div>
                
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <button id="btnSaveGrade" onclick="saveGrade();" type="button" class="btn btn-info btn-block">Add Grade</button>
                </div>
            </div>
        </div>

        </div><!--end: BOX CONTENT-->
    </div> 



    @*<div class="panel panel-default">
        <div class="panel-heading">Grades Available<button id="btnSaveGrade" onclick="saveGrade();"  type="button" class="btn btn-default btn-sm pull-right">Add Grade To Period</button><div class="clearfix"></div></div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.Grade != null && ViewBag.Grade.Count > 0)
                        {
                            <div id="checkboxes">
                                @foreach (var item in ViewBag.Grade)
                                {
                                    <div class="checkbox checkbox-warning">
                                        <input class="styled" id=@item.GradeId type="checkbox" />
                                        <label for=@item.GradeId>@item.GradeDescription</label>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                Grades not Availables.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
   

