<style>
    .alert-block {
padding-top: 14px;
padding-bottom: 14px;
}

    .alert-block > p,
.alert-block > ul {
margin-bottom: 0;
}

.alert-block p + p {
margin-top: 5px;
}


</style>
<div class="row">
    <div class="box">
        <!--BOX HEADER-->
        <div class="box-header">
            <!--BOX TITLE-->
            <div class="box-title pull-left">
                <p><i class="fa fa-list fa-lg"></i></p>
                <p>Grades Available</p>
            </div>
        </div>
        <!--end: BOX HEADER-->
        <!--BOX CONTENT-->
        <div class="box-content">
            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Grade != null && ViewBag.Grade.Count > 0)
                    {
                        <div id="checkboxes">
                            @foreach (var item in ViewBag.Grade)
                            {
                                <div class="checkbox checkbox-warning">
                                    <input class="styled" id=@item.GradeId type="checkbox" />
                                    <label for=@item.GradeId>@item.GradeDescription</label>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-b">
                            Grades not Available.
                        </div>
                    }
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="btnSaveGrade" onclick="saveGrade();" type="button" class="btn btn-info btn-block">Add Grade</button>
                </div>
            </div>
        </div>

        </div><!--end: BOX CONTENT-->
    </div> 



    @*<div class="panel panel-default">
        <div class="panel-heading">Grades Available<button id="btnSaveGrade" onclick="saveGrade();"  type="button" class="btn btn-default btn-sm pull-right">Add Grade To Period</button><div class="clearfix"></div></div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.Grade != null && ViewBag.Grade.Count > 0)
                        {
                            <div id="checkboxes">
                                @foreach (var item in ViewBag.Grade)
                                {
                                    <div class="checkbox checkbox-warning">
                                        <input class="styled" id=@item.GradeId type="checkbox" />
                                        <label for=@item.GradeId>@item.GradeDescription</label>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                Grades not Availables.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@
   

