
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<input type="hidden" id="hvPeriodGradeId" />
<input type="hidden" id="hvPeriodId" value="@ViewBag.PeriodId" />

<div class="modal fade" id="add-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Groups</h4>
            </div>
            <div class="modal-body">
                <form id="form-save-group">
                    <div id="addGroupHtml">

                        @*@Html.Partial("~/Views/GradeGroup/_addGroup.cshtml")*@
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="saveGroup();" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add-grade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Grade</h4>
            </div>
            <div class="modal-body">
                @*<form id="form-save-grade">
                    <div id="addGradeHtml">

                        
                    </div>
                </form>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="saveGrade();" type="button" class="btn btn-primary">Save Grades</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Group Configuration <small>Admin Configure the Period Group</small></h1>
                <div class="row">
                        <div class="col-md-12">
                            @*<button class="btn btn-primary" onclick="showAddGrade();" type="button"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Add New Grade</button>*@
                        </div>
                    <div class="col-md-5">
                        @*<div id="dvResult" style="display:none" role="alert">...</div>*@
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div style="display:none" class="col-md-12">
            <canvas id="clients" width="500" height="100"></canvas>
        </div>*@
        <div class="col-md-4">
            <form id="form-save-grade">
                <div id="addGradeHtml">

                    @*@Html.Partial("~/Views/GradeGroup/_addGroup.cshtml")*@
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="panel-group" id="_periodGradeAccordion" role="tablist" aria-multiselectable="true">
            </div>
        </div>
    </div>    
</div>


@section scripts{
    <script src="~/Scripts/chartJs/Chart.bundle.js"></script>
    <script src="~/Scripts/views/periodGrade/search.js"></script>
    <script src="~/Scripts/views/periodGrade/create.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        //showGradesByPeriod();
    });
    </script>

}




