<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Students by Grades</h3>
    </div>
    <div class="panel-body" align="center">
        <div class="canvas-holder">
                <canvas id="canvas" width="416" height="208" style="width: 416px; height: 208px;"></canvas>
        </div>
    </div>
</div>

@section scripts{   

    <script type="text/javascript">
    $(document).ready(function () {
        alert('test');
        //showGradesByPeriod();
    });
    </script>
}