<style>

.profile-content .nav a small
{
    display: block;
}

.profile-content .nav
{
    background: -webkit-linear-gradient(top, #5fae53, #3b7c33)!important;
    /*background: #D35400 !important;*/
    /*background: #1abde7 !important;*/
}
.nav-justified > li > a
{
    /*border-radius: 0px;*/
     color:white;  
     border-radius: 0 0 0 0;  
     text-transform: uppercase;
}

.nav-tabs.nav-justified>li>a {
    /*border-bottom: 1px solid #dddddd !important;*/
    border-radius: 0 0 0 0 !important;
}

.tab-content {
    /*border: 1px solid #ddd;*/
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0;
    padding: 15px;    
    background-color:#fff;
}

</style>

<link href="~/Content/profile.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row profile">
        <div class="col-md-2">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img class="img-responsive profile-img margin-bottom-20" src="~/Images/Jane_Hall_profile.jpg" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Josefina Perez
                    </div>
                    <div class="profile-usertitle-job">
                        Tercer Grado
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-10">
            <div class="profile-content">
                <ul class="nav nav-tabs content-tabs nav-justified" id="maincontent" role="tablist">

                    <li class="active"><a class="loadServerSide" data-content="demographic" data-url="Student/GetStudentById" href="#demographic" role="tab" data-toggle="tab">Demographic</a></li>
                    <li><a href="#payTransaction" class="loadServerSide" data-onload="pay_onload" data-content="payTransaction" data-url="Student/ShowStudentTransaction" role="tab" data-toggle="tab">Pay Transactions</a></li>
                    <li><a href="#grades" class="loadServerSide" data-content="grades" data-url="Student/GetStudentById" role="tab" data-toggle="tab">Grades</a></li>
                    <li><a href="#documents" class="loadServerSide" data-content="documents" data-url="Student/GetStudentById" role="tab" data-toggle="tab">Documents</a></li>
                    <li><a href="#incidents" class="loadServerSide" data-content="incidents" data-url="Student/GetStudentById" role="tab" data-toggle="tab">Incidents</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="demographic">

                    </div><!--/.tab-pane -->

                    <div class="tab-pane fade" id="payTransaction">
                        <p>Profile Content : Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div><!--/.tab-pane -->

                    <div class="tab-pane fade" id="grades">
                        <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div><!--/.tab-pane -->

                    <div class="tab-pane fade" id="documents">
                        <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div><!--/.tab-pane -->

                    <div class="tab-pane fade" id="incidents">
                        <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div><!--/.tab-pane -->

                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid content profile">
    <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
            <img class="img-responsive profile-img margin-bottom-20" src="~/Images/Jane_Hall_profile.jpg" alt="">

            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <li class="list-group-item">
                    <a href="page_profile.html"><i class="fa fa-bar-chart-o"></i> Overall</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_me.html"><i class="fa fa-user"></i> Profile</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_users.html"><i class="fa fa-group"></i> Users</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_projects.html"><i class="fa fa-cubes"></i> My Projects</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_comments.html"><i class="fa fa-comments"></i> Comments</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_history.html"><i class="fa fa-history"></i> History</a>
                </li>
                <li class="list-group-item">
                    <a href="page_profile_settings.html"><i class="fa fa-cog"></i> Settings</a>
                </li>
            </ul>
        </div>
        <!--End Left Sidebar-->
        <!-- Profile Content -->
        <div class="col-md-9">
            <div class="profile-body">
                <div class="profile-content">
                    <ul class="nav nav-tabs content-tabs nav-justified" id="maincontent" role="tablist">
                       
                        <li class="active"><a class="loadServerSide" data-content="demographic" data-url="/Student/GetStudentById" href="#demographic" role="tab" data-toggle="tab">Demographic</a></li>
                        <li><a href="#payTransaction" class="loadServerSide" data-onload="pay_onload" data-content="payTransaction" data-url="/Student/ShowStudentTransaction" role="tab" data-toggle="tab">Pay Transactions</a></li>
                        <li><a href="#grades" class="loadServerSide" data-content="grades" data-url="/Student/GetStudentById" role="tab" data-toggle="tab">Grades</a></li>
                        <li><a href="#documents" class="loadServerSide" data-content="documents" data-url="/Student/GetStudentById" role="tab" data-toggle="tab">Documents</a></li>
                        <li><a href="#incidents" class="loadServerSide" data-content="incidents" data-url="/Student/GetStudentById" role="tab" data-toggle="tab">Incidents</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="demographic">
                          
                        </div><!--/.tab-pane -->

                        <div class="tab-pane fade" id="payTransaction">
                            <p>Profile Content : Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </div><!--/.tab-pane -->

                        <div class="tab-pane fade" id="grades">
                            <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div><!--/.tab-pane -->

                        <div class="tab-pane fade" id="documents">
                            <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div><!--/.tab-pane -->

                        <div class="tab-pane fade" id="incidents">
                            <p>Dropdown1 - Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div><!--/.tab-pane -->

                    </div>
                </div>
                </div>
        </div>
        <!-- End Profile Content -->
    </div>
</div>*@

<script type="text/javascript">
    var onInitFunction = [];
</script>
