
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error {
        border-color: #b94a48;
    }

    .modal-header {
   background:linear-gradient(to bottom, #1abde7 0%,#1c9dd1 100%);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   color:#fff;
}

    .modal-title {
    margin: 0;
    line-height: 1.42857143;
    color:#fff;
}
      
    
</style>
@*modals*@
<div class="modal fade" id="search-student">
    <div id="searchHtml">

    </div>   
    @*@Html.Partial("_search")*@
</div>
<div class="modal fade" id="pay-student">
    <div id="payHtml">
        @Html.Partial("_pay")
    </div>   
</div>

<div class="modal fade" id="profile-student">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title">Student Profile</h3>
            </div>
            <div class="modal-body">
                <form id="t">
                    <div id="loadProfile">
                        @Html.Partial("_profile")
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                @*<button id="btnSearch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>*@
                <button class="btn btn-sm btn-warning" data-dismiss="modal"><i class="icon-remove"></i> Close</button>
            </div>
        </div>
    </div>
   
</div>

<div class="modal fade" id="new-student">
    
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title">Student Information</h3>
                </div>
                <div class="modal-body">
                    <div id="newStudentHtml">
                        @*@Html.Partial("_addStudent",new school.Model.Model.StudentModel())*@
                    </div>                 
                </div>
                <div class="modal-footer">
                    @*<button id="btnSearch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>*@
                    <button class="btn btn-sm btn-warning" data-dismiss="modal"><i class="icon-remove"></i> Close</button>
                </div>
            </div>
        </div>
</div>

@*hidden values*@
<input id="search_periodId" type="hidden" />
<input id="search_gradeId" type="hidden" />
<input id="search_studentCode" type="hidden" />
<input id="search_firstName" type="hidden" />
<input id="search_lastName" type="hidden" />
<input id="search_genderId" type="hidden" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Students <small>Student List</small></h1>
                <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-success" typeof="btnSearchStudent" data-toggle="modal" data-target="#search-student" type="button"> <span class="glyphicon glyphicon-filter"> Filter</span></button>
                            <button class="btn btn-primary" typeof="btnNewStudent" onclick="showStudentCreateModal();" data-toggle="modal" @*data-target="#new-student"*@ type="button"> <span class="glyphicon glyphicon-plus"> New Student</span></button>
                        </div>

                    <div class="col-md-5">
                        <div id="dvResult" style="display:none" class="alert alert-success" role="alert">...</div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="studentList"  class="table table-striped table-bordered table-hover" data-page-length='10'>
                    <thead>
                        <tr>
                            <th><strong>Period</strong> </th>
                            <th><strong>Student Full Name</strong></th>
                            <th><strong>Student Code</strong></th>
                            <th><strong>Grade</strong> </th>
                            <th><strong>Group</strong> </th>
                            <th><strong>Gender</strong> </th>
                            <th><strong>Actions</strong> </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script src="~/Scripts/dataTable/datatables.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/dateFormat/date.format.js"></script>
<script src="~/Scripts/slimscroll/slimscroll.min.js"></script>
<script src="~/Scripts/views/student/search.js"></script>
<script src="~/Scripts/views/payTransaction/pay.js"></script>   
<script src="~/Scripts/views/student/create.js"></script>
<script src="~/Scripts/views/student/profile.js"></script>    
     }


