
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadProfile">

</div>

@section scripts{
<script src="~/Scripts/views/student/profile.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadProfile();
    })
</script>
}
@*@Html.Partial("_profile")*@

